.box {
    background: lightgray;
    border: 2px solid black;
    width: 500px;

    /* Padding in all sides. */
    padding: 20px;

    /* Margin on allsides. */
    margin: 20px;

    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px; */

    /* Padding short hand! */
    padding: 10x 20x;

    /* Padding short hand! */
    padding: 10px 20px 10px 20px;
}

.box h2 {
    padding-bottom: 10px;


}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}